{% extends 'base.html' %}
{% load static %}

{% block Title %} TODOs {% endblock %}

{% block style %} <link rel="stylesheet" href="{% static "static/imported/datepicker.css" %}">{% endblock %}

{% block content %}
    <h2>TODOS</h2>
    <hr>
    <form method="post">
        {% csrf_token %}
        <label>
            <input id="datepicker" name="add_date" autocomplete="off">
        </label>
        <button type="submit">+</button>
    </form>
    {% for dates in all_dates %}
        <table id="{{ dates.date | date:"Y-m-d" }}">
            <thead>
            <tr>
                <th>{{ dates.date }}</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in dates.todo.all %}
                <tr>
                    <td>{{ todo.todo }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form class="add_todo_form" id="{{ dates.date | date:"Y-m-d" }}">
            <label>
                <input class="add_todo_text" type="text"/>
            </label>
            <input class="add_todo_button" type="button" value="+"/>
        </form>
    {% endfor %}

{% endblock %}
{% block script %}
    <script rel="script" src="{% static "static/imported/datepicker.js" %}"></script>
    <script rel="script" src="{% static "todo.js" %}"></script>
{% endblock %}